version: 2.1

jobs:
  test:
    executor: node
    steps:
      - checkout

      - run:
          name: Install dependencies
          command: npm ci

      - run:
          name: Start server
          command: npx serve &

      - run:
          name: Run Playwright tests
          command: npm test

      - store_artifacts:
          path: test-results
          destination: playwright-results
      - store_artifacts:
          path: playwright-report
          destination: playwright-report
      - store_test_results:
          path: test-results

workflows:
  version: 2
  test:
    jobs:
      - test
