version: 2.1

executors:
  pw-noble-development:
    docker:
      - image: mcr.microsoft.com/playwright:v1.56.0-noble

jobs:
  test:
    executor: pw-noble-development
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies

      - run:
          name: Install dependencies
          command: npm ci

      - run:
          name: Run Playwright tests
          command: npm test

      - store_artifacts:
          path: playwright-report
          destination: playwright-report

      - store_test_results:
          path: test-results

workflows:
  test:
    jobs:
      - test
